In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

## Searching for 5 records in Fact Table

In [12]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1543537327796, 91, 'free', None, None, 829, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (2, 1543540121796, 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, 1543540368796, 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, 1543540625796, 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, 1543540856796, 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

### Trying to add an existing songplay (It should Fail)

In [17]:
%sql INSERT INTO songplays(start_time,user_id,level) VALUES(1542680359796,25,'non paid')

 * postgresql://student:***@127.0.0.1/sparkifydb

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "songplays_pkey"
DETAIL:  Key (start_time, user_id)=(1542680359796, 25) already exists.
 [SQL: "INSERT INTO songplays(start_time,user_id,level) VALUES(1542680359796,25,'non paid')"]

### Trying update an existing songplay

In [21]:
%sql INSERT INTO songplays(start_time,user_id,level) VALUES(1542680359796,25,'non paid') ON CONFLICT (start_time,user_id) DO UPDATE SET (level) = ('non paid')

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[]

In [22]:
%sql SELECT * FROM songplays WHERE start_time = 1542680359796 and user_id = 25;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1049, 1542680359796, 25, 'non paid', None, None, 594, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

# Dimension Tables

Primary Key constraint and Upsert statement are available for all dimension tables too.

In [16]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(24, 'Layla', 'Griffin', 'F', 'paid'),
 (29, 'Jacqueline', 'Lynch', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (20, 'Aiden', 'Ramirez', 'M', 'paid'),
 (38, 'Gianna', 'Jones', 'F', 'free')]

In [12]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.1497, -90.0489)]

In [25]:
%sql select * from songs limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.396),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.818),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.035),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.702)]

In [26]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1543537327796, 0, 30, 48, 11, 2018, 4),
 (1543540121796, 1, 30, 48, 11, 2018, 4),
 (1543540368796, 1, 30, 48, 11, 2018, 4),
 (1543540625796, 1, 30, 48, 11, 2018, 4),
 (1543540856796, 1, 30, 48, 11, 2018, 4)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [35]:
%sql select \
case \
    when time.hour between 0 and 6 then 'dawn' \
    when time.hour between 6 and 13 then 'morning' \
    when time.hour between 13 and 19 then 'afternoon' \
    when time.hour between 19 and 24 then 'night' \
end as day_period, \
count(1) as freq \
from songplays join time on time.start_time = songplays.start_time \
group by 1 order by freq desc;

 * postgresql://student:***@127.0.0.1/sparkifydb
4 rows affected.

[('afternoon', 2804), ('morning', 1936), ('night', 1058), ('dawn', 1015)]